
<div *ngIf="notFound" class="col-md-6 cent">
    <label class="header">We can't found a freelance job</label>
    <label class="again">Search Again</label>
    <button (click)="search(searchq)" class="btn btn-outline-info my-2 my-sm-0 btnsearch" type="button">Search</button>  
    <input class="form-control search" [(ngModel)]="searchq" maxlength="30">
    <img src="../../assets/images/search/space.png">
</div>

<div *ngIf="!notFound" class="col-md-10 list">
    <div *ngFor="let item of listItem">
            <div class="card" style="width: 26rem;margin-top: 1%;">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{item.category}} - {{item.job_status}} - {{item.job_type}}</h6>
                      <div class="card-text"><div *ngFor="let skill of item.skills" class="col-md-5 alert alert-info" style="margin-left:1%;">{{skill}}</div><div *ngFor="let skill of item.skills" class="col-md-5 alert alert-info" style="margin-left:1%;">{{skill}}</div></div>
                      <a href="{{item.url}}" class="card-link"><span class="btn btn-primary">Go to job</span></a>
                    </div>
                  </div>
                </div>
            </div>
